<div id="header">

  <div class="logo">
  	<%= link_to raw("Stale M<span class='microphone'>&iexcl;</span>kes"), root_path %>
  </div>

  <div>
		<ul class="menu">
				<li><%= link_to 'About', 'http://facebook.com/stalemikes' %></li>	
		  <% if current_user %>
		    <li><%= link_to 'Home', root_path %></li>	
		    <li><%= link_to 'My Shows', user_path(current_user) %></li>	
		    <li><%= link_to 'Add Show', new_show_path %></li>
		    <li><strong><%= current_user.name %></strong></li>
		    <li><%= link_to "Sign out", signout_path, id: "sign_out" %></li>
		</ul>
		  <% else %>
		</ul>  
		   <div class="signin-text">
		    <%= link_to image_tag("fblogin.png"), "/auth/facebook", id: "sign_in", :class => 'signin' %></div>
		  <% end %>
		
  </div>

</div>