

<div id="container" class="js-masonry">

<% if @shows.size == 0 %>
  <div class="no-results">There are no shows that match the filter :(</div>
<% end %>

  <% @shows.each do |show| %>

      <% if params[:controller] == 'users' %>
        <% opacity = 1 %>
      <% else %>
        <% opacity = 1 - ((calculate_age(Time.now) - calculate_age(show.verified_at)).to_f / 170).abs %>
      <% end %>
      
    <div class="show-box shadow"<% unless show.verified_at > DateTime.now - 1.month %> style="opacity: <%= opacity %>"<% end %>>
 
  <%= button_to "edit", edit_show_path(show), :method => :get, :class => 'edit-show' if current_user && params[:action] == 'show' && params[:controller] == 'users' %>

          <div class="show-status-<%= show.status(:id) %>"><%= show.status.upcase %></div>

          <% if show.filepicker_url %>
          <div class="image">
              <%= image_tag show.filepicker_url, :width => 300 %>
          </div>
          <% end %>
        
        <div class="show-name"><%= link_to show.name.upcase, show_path(show) %></div>
  
        @ <b><%= show.venue %></b><br>
        <%= show.address %> <%= '(' + show.area + ')' if !show.area.blank? %><br><%= show.city %>, <%= show.state %> <%= show.zip %> <%= show.country if show.country != 'United States' %>
          <ul>
          <li><% if show.frequency(:id) != 1 %>
            <%= show.frequency %> <%= show.day %> of the month
          <% else %>
            <%= show.frequency %> on <%= show.day.pluralize %> 
          <% end %>
          </li>
          <li><%= show.start_time.strftime("%l:%M %p") %><%= ' to ' + show.end_time.strftime("%l:%M %p") unless show.end_time == nil %>
          </li>
          <li>
          <%= show.show_type %> <% if show.show_type(:id) == 1 %> (signup at <%= show.signup_time.strftime("%l:%M %p") %>)<% end %></li>
          
          
            <% if show.charge.size > 0 %><li>Cost to perform: <%= show.charge %>
          </li><% end %>
          <li>Organized by <%= show.user.name %></li>
        </ul>
        <div class="booking-info">
          <%= button_to "more info", show_path(show), :method => "get", :class => "button" %>
        </div>

      <div class="last-verified">
        <b>last verified</b><br>
        <span class="verified"><%= time_ago_in_words(show.verified_at) %> ago
          <div class="fresh">
          <% if show.verified_at > DateTime.now - 1.month %><%= image_tag 'fresh.png' %><% end %></div>
      </div> 

    </div>

  <% end %>

</div>
