<div id="container" class="js-masonry">

  <% @shows.each do |show| %>
    <div class="show shadow<% if show.updated_at > DateTime.now - 1.month %> fresh-show<% end %>">
    
      <div class="info">
        <div><b><%= link_to show.venue, show_path(show) %></b></div>
        <div><%= show.name %></div>
        <div><%= show.city %><% if show.state%>,<% end %> <%= show.state %></div>
        <div><%= show.day %></div>
        <div><%= show.frequency %></div>
        <div><%= show.show_type %></div>
        <br>
      </div>  
        <div>
          <!-- <img src="http://maps.google.com/maps/api/staticmap?zoom=11&markers=<%= show.address %><%= show.city %><%= show.state %>&size=240x80&sensor=false"> -->
        </div>

      <div class="image">
        <% if show.filepicker_url %>
          <%= filepicker_image_tag(show.filepicker_url, w: 90, h: 90, fit: 'clip') %>
        <% else %>
          <img src="http://lorempixel.com/90/90/nightlife/<%= [*1..10].sample %>">
        <% end %>  
      </div>

      <div>
        <div class="last-verified"><b>last verified:</b><br>
          <span class="verified"><%= time_ago_in_words(show.updated_at) %> ago
            <div class="fresh">
            <% if show.updated_at > DateTime.now - 1.month %><%= image_tag 'fresh.png' %><% end %></div>
        </div>
        <%= link_to 'edit', edit_show_path(show) %>
      </div>
              
    </div>

  <% end %>

</div>
