
<% show = @show %>

<div class="show-box-large shadow">

  <div class="image-large">
      <img src="http://lorempixel.com/460/140/nightlife/<%= [*1..10].sample %>" width=460 height=140> 
  </div>

  <div class="show-name-large"><%= show.name.upcase %></div>
  <div class="social-links"><%= link_to 'f', show.facebook_link %> <%= link_to 'w', show.web_site %> <%= link_to 't', show.twitter_name %></div>
  <div class="show-venue-large">@ <%= show.venue %></div>

  <div class="details-large">
    <table class="show-table">
      <tr>
        <th nowrap>Status</td>
        <td><%= show.status %></td>
      </tr>
      <tr>
      	<th nowrap>Last Verified</th>
        <td><%= time_ago_in_words(show.updated_at) %> ago</td>
      </tr>            	
      <tr>
        <th nowrap>When</td>
        <td><%= show.day %> / <%= show.frequency %> / <%= show.start_time.strftime("%l:%M %p") %> to <%= show.end_time.strftime("%l:%M %p") %></td>
      </tr>
      <tr>
        <th nowrap>Where</td>
        <td>
        	<%= show.address %> <%= show.city %>, <%= show.state %> <%= show.zip %> <%= show.country unless show.country == 'United States' %> <%= show.phone %>
        </td>
      </tr> 
      <tr>
        <th nowrap>Booking Info</td>
        <td>
        	<ul class="booking-info-list">
        		<li><%= show.show_type %> <% if show.show_type(:id) == 1 %>/ Signup at <%= show.signup_time.strftime("%l:%M %p") %><% end %></li>
						<li>Cost to perform: <%= show.charge %></li>
						<li>Organized by <%= show.user.name %></li>
						<% if show.notes %><li>Notes: <%= show.notes %></li><% end %>
				  </ul>
      </tr>
        </td>
      </tr>  
      <tr>
        <th nowrap>Price / Tickets</td>
        <td><%= show.price %></td>
      </tr>
      <tr>
        <th nowrap>Hosted by</td>
        <td><%= show.host_name %></td>
      </tr>         
      <tr>
        <th nowrap>Listed On</td>
        <td><%= show.created_at.strftime("%b %e, %Y") %></td>
      </tr>
      <tr>
        <th nowrap>Metro area</td>
        <td><%= show.metro_area.name %></td>
      </tr> 
    </table>  
  </div>

  <div class="map-large">
    <%= image_tag 'http://maps.googleapis.com/maps/api/staticmap?markers=color:green%7C' + show.address + show.city + show.state + show.country + show.zip.to_s + '&zoom=13&size=460x140&maptype=roadmap&sensor=false' %>
  </div>

  <div class="comments">Comments</div>
  <div class="fb-comments" data-href="stagetime.dev/shows/<%= @show.id %>" data-width="460"></div>

</div>


