<% show = @show %>

<div><%= link_to 'Back to list of shows', root_path %></div>
<div class="show-box-large shadow">

  <% if show.verified_at < DateTime.now - 1.month %>       
    <div class="verify-it">
      <div class="still-happening">Is this show still happening?</div>
      <div class="verify-button">
        <%=  link_to_modal "VERIFY IT", "#verify-" + show.id.to_s, :class=>"button" %></div>
    </div>
  <% end %>

  <% if show.filepicker_url %>
  <div class="image-large">
      <%= image_tag show.filepicker_url, :width => 460, :height => 140 %>
  </div>
  <% end %>

  <div class="show-name-large"><%= show.name.upcase %></div>
  
  <div class="show-venue-large">@ <%= show.venue %></div>

  <div class="details-large">
    <table class="show-table">
      <tr>
        <th nowrap>Status</td>
        <td><%= show.status.upcase if show.status(:id) == 1 %><div class="show-status-<%= show.status(:id) %>"><%= show.status.upcase %></div></td>
      </tr>
      <tr>
      	<th nowrap>Last Verified</th>
        <td><%= time_ago_in_words(show.verified_at) %> ago by 
          <% if show.verifications.last %>
            <%= link_to show.verifications.last.user.name, 'http://facebook.com/' + show.verifications.last.user.uid %>
          <% else %>
            <%= link_to show.user.name, 'http://facebook.com/' + show.user.uid  %>
          <% end %>
          <% if show.verified_at > DateTime.now - 1.month %>
            
          <% else %>
            <br><div class="still-happening-text">Is this show still happening?</div><br><%=  link_to_modal "VERIFY IT", "#verify-" + show.id.to_s, :class=>"button" %><br><br>
          <% end %>
          <div class="fresh">
          <% if show.verified_at > DateTime.now - 1.month %><%= image_tag 'fresh.png' %><% end %></div>

        </td>
      </tr>            	
      <tr>
        <th nowrap>When</td>
        <td>
          <% if show.frequency(:id) != 1 %>
            <%= show.frequency %> <%= show.day %> of the month
          <% else %>
            <%= show.frequency %> on <%= show.day %> 
          <% end %> / <%= show.start_time.strftime("%l:%M %p") %><%= ' to ' + show.end_time.strftime("%l:%M %p") unless show.end_time == nil %>
          
        </td>
      </tr>
      <tr>
        <th nowrap>Where</td>
        <td>
        	<%= show.venue %> <%= '(' + show.area + ')' if !show.area.blank? %><br>
          <%= link_to show.address + ' ' + show.city + ', ' + show.state + ' ' + show.zip.to_s, 'http://www.google.com/maps/preview#!q=' + '+' + show.address + '+' + show.city + '+' + show.state + '+' + show.zip.to_s + '+' + show.country %>
        </td>
      </tr> 
      <tr>
        <th nowrap>Booking Info</td>
        <td>
        	<ul class="booking-info-list">
        		<li><%= show.show_type %> <% if show.show_type(:id) == 1 %>/ Signup at <%= show.signup_time.strftime("%l:%M %p") %><% end %></li>
						<% if show.charge.size > 0 %><li>Cost to perform: <%= show.charge %></li><% end %>
						<% if show.notes.size > 0 %><li><%= show.notes %></li><% end %>

            <li>
              <% if show.user.admin? %>
                Listed by Stale Mikes<br><span class='small-text'><%= link_to 'message us', 'http://facebook.com/stalemikes', :class => 'small-text' %>  if you are the organizer</span>
              <% else %>
                Organized by <%= show.user.name %>
              <% end %>
            </li>
				  </ul>
      </tr>
        </td>
      </tr>  
      <% if show.twitter_name.size > 0 || show.facebook_link.size > 0 || show.web_site.size > 0 %><tr>
        <th nowrap>Links</td>
        <td>
          <%= render "shared/social_icons", :show => show %>
        </td>
      </tr><% end %>
      <% if show.price.size > 0 %><tr>
        <th nowrap>Price / Tickets</td>
        <td><%= show.price %></td>
      </tr><% end %>
      <% if show.host_name.size > 0 %><tr>
        <th nowrap>Hosted by</td>
        <td><%= show.host_name %></td>
      </tr><% end %>         
      <tr>
        <th nowrap>Listed On</td>
        <td><%= show.created_at.strftime("%b %e, %Y") %></td>
      </tr>
      <tr>
        <th nowrap>Metro area</td>
        <td><%= show.metro_area.name %></td>
      </tr> 
    </table>  
  </div>

  <div class="map-large">
    <%= image_tag 'http://maps.googleapis.com/maps/api/staticmap?markers=color:green%7C' + show.address + show.city + show.state + show.country + show.zip.to_s + '&zoom=13&size=460x140&maptype=roadmap&sensor=false' %>
  </div>

  <div class="comments">Comments</div>
  <div class="fb-comments" data-href="stalemikes.com/shows/<%= @show.id %>" data-width="460"></div>

</div>

<%= render 'shared/verify_it', :show => show %>