
<% show = @show %>

<div class="show-box-large shadow">

  <div class="image">
      <img src="http://lorempixel.com/296/80/nightlife/<%= [*1..10].sample %>" width=780 height=210> 
  </div>

  <div class="map">
	  <%= image_tag 'http://maps.googleapis.com/maps/api/staticmap?markers=color:green%7C' + show.address + show.city + show.state + show.country + show.zip.to_s + '&zoom=13&size=400x400&maptype=roadmap&sensor=false' %>
  </div>

  <div class="show-name"><%= show.name.upcase %></div>
  <div class="show-venue">@ <%= show.venue %></div>
  
  <div class="address">
    <%= show.address %><br>
    <%= show.city %><% if show.state%>,<% end %> <%= show.state %> <%= show.zip %>        <%= link_to 'edit', edit_show_path(show) %>
  </div>

  <div class="details">
  	<table>
  		<tr>
  			<td>day</td>
  			<td><%= show.day %></td>
  		</tr>
  		<tr>
  			<td>frequency</td>
  			<td><%= show.frequency %></td>
    	</tr>
      <tr>
				<td>type</td>
				<td><%= show.show_type %></td>
      </tr>          	
      <tr>
      	<td>show time</td>
        <td><%= show.start_time.strftime("%l:%M %p") %> to <%= show.end_time.strftime("%l:%M %p") %></td>
  		</tr>
      <tr>
      	<td>organized by</td>
      	<td><%= show.user.name %></td>
      </tr>
      <tr>
				<td>show</td>
				<td><%= show.name %></td>
      </tr>
      <tr>
				<td>web site</td>
				<td><%= show.web_site %></td>
      </tr>
      <tr>
      	<td>facebook</td>
				<td><%= show.facebook_link %></td>
      </tr>
      <tr>							
				<td>twitter</td>
				<td><%= show.twitter_name %></td>
      </tr>
      <tr>
				<td>venue</td>
				<td><%= show.venue %></td>
      </tr>
      <tr>
				<td>venue phone</td>
				<td><%= show.phone %></td>
      </tr>
      <tr>
				<td>hosted by</td>
				<td><%= show.host_name %></td>
      </tr>
      <tr>
				<td>show price</td>
				<td><%= show.price %></td>
      </tr>
      <tr>
				<td>notes</td>
				<td><%= show.notes %></td>
      </tr>
      <tr>
				<td>listed on</td>
				<td><%= show.created_at.strftime("%b %e, %Y") %></td>
      </tr>
      <tr>
				<td>last updated</td>
				<td><%= show.updated_at.strftime("%b %e, %Y") %></td>
      </tr>
      <tr>
				<td>metro area</td>
				<td><%= show.metro_area.name %></td>
      </tr>
      <tr>
				<td>status</td>
				<td><%= show.status %></td>
      </tr>
      <tr>
				<td>signup time</td>
				<td><%= show.signup_time.strftime("%l:%M %p") %></td>
      </tr>
      <tr>
				<td>pay to perform</td>
				<td><%= show.charge %></td>
			</tr>
  </div>

	<div class="last-verified">
    <b>last verified</b><br>
    <span class="verified"><%= time_ago_in_words(show.updated_at) %> ago
      <div class="fresh">
      <% if show.updated_at > DateTime.now - 1.month %><%= image_tag 'fresh.png' %><% end %></div>
  </div> 

</div>


<!-- <div class="fb-comments" data-href="stagetime.dev/shows/<%= @show.id %>" data-width="600"></div> -->