
<% show = @show %>
<div><%= link_to 'Back to list of shows', root_path %></div>
<div class="show-box-large shadow">

  <% if show.filepicker_url %>
  <div class="image-large">
      <%= image_tag show.filepicker_url, :width => 460, :height => 140 %>
  </div>
  <% end %>

  <div class="show-name-large"><%= show.name.upcase %></div>
  
  <div class="show-venue-large">@ <%= show.venue %></div>

  <div class="details-large">
    <table class="show-table">
      <tr>
        <th nowrap>Status</td>
        <td><%= show.status %></td>
      </tr>
      <tr>
      	<th nowrap>Last Verified</th>
        <td><%= time_ago_in_words(show.verified_at) %> ago</td>
      </tr>            	
      <tr>
        <th nowrap>When</td>
        <td>
          <% if show.frequency(:id) != 1 %>
            <%= show.frequency %> <%= show.day %> of the month
          <% else %>
            <%= show.frequency %> on <%= show.day %> 
          <% end %> / <%= show.start_time.strftime("%l:%M %p") %><%= ' to ' + show.end_time.strftime("%l:%M %p") unless show.end_time == nil %>
          
        </td>
      </tr>
      <tr>
        <th nowrap>Where</td>
        <td>
        	<%= show.venue %><br>
          <%= link_to show.address + ' ' + show.city + ', ' + show.state + ' ' + show.zip.to_s, 'http://www.google.com/maps/preview#!q=' + '+' + show.address + '+' + show.city + '+' + show.state + '+' + show.zip.to_s + '+' + show.country %>
        </td>
      </tr> 
      <tr>
        <th nowrap>Booking Info</td>
        <td>
        	<ul class="booking-info-list">
        		<li><%= show.show_type %> <% if show.show_type(:id) == 1 %>/ Signup at <%= show.signup_time.strftime("%l:%M %p") %><% end %></li>
						<% if show.charge.size > 0 %><li>Cost to perform: <%= show.charge %></li><% end %>
						<% if show.notes.size > 0 %><li><%= show.notes %></li><% end %>

            <li>Organized by <%= show.user.name %></li>
				  </ul>
      </tr>
        </td>
      </tr>  
      <% if show.twitter_name.size > 0 || show.facebook_link.size > 0 || show.web_site.size > 0 %><tr>
        <th nowrap>Links</td>
        <td><%= link_to 'facebook', show.facebook_link if show.facebook_link %> <%= link_to 'twitter', 'http://twitter/' + show.twitter_name if show.twitter_name %> <%= link_to 'web site', show.web_site if show.web_site %></td>
      </tr><% end %>
      <% if show.price.size > 0 %><tr>
        <th nowrap>Price / Tickets</td>
        <td><%= show.price %></td>
      </tr><% end %>
      <% if show.host_name.size > 0 %><tr>
        <th nowrap>Hosted by</td>
        <td><%= show.host_name %></td>
      </tr><% end %>         
      <tr>
        <th nowrap>Listed On</td>
        <td><%= show.created_at.strftime("%b %e, %Y") %></td>
      </tr>
      <tr>
        <th nowrap>Metro area</td>
        <td><%= show.metro_area.name %></td>
      </tr> 
    </table>  
  </div>

  <div class="map-large">
    <%= image_tag 'http://maps.googleapis.com/maps/api/staticmap?markers=color:green%7C' + show.address + show.city + show.state + show.country + show.zip.to_s + '&zoom=13&size=460x140&maptype=roadmap&sensor=false' %>
  </div>

  <div class="comments">Comments</div>
  <div class="fb-comments" data-href="stagetime.dev/shows/<%= @show.id %>" data-width="460"></div>

</div>


