<script>

$(document).ready(function(){

  document.getElementById('view').value = $("#view").val();
  document.getElementById('metro').value = $("#metro").val();
  document.getElementById('day').value = $("#day").val();
  document.getElementById('type').value = $("#type").val();
  document.getElementById('status').value = $("#status").val();

});

</script>

<div class="filter">
  <form name="input" action="filter" method="post">
    <div class="view"> 
      View
      <select id="view" name="view" onchange="this.form.submit();">
        <% views = %w[list grid map calendar] %>
        <% views.each do |view| %>
          <option value='<%= view %>' <% if params[:view] == view %>selected<% end %>><%= view.capitalize %></option>
        <% end %>
      </select>  
    </div>

    <div class="metro-area"> 
      Metro Area
      <select id="metro" name="metro" onchange="this.form.submit();">
        <% if params[:view] != 'calendar' %><option value="">Any</option><% end %>
        <% @metro_areas.each do |metro_area| %>
          <option value="<%= metro_area.id %>" 
            <% if params[:metro].to_s == metro_area.id.to_s %>
              selected
            <% end %>
            ><%= metro_area.name %></option>
        <% end %>
      </select>  
    </div>

  <% if params[:view] != 'calendar' %>
    <div class="day"> 
      Day 
      <select id="day" name="day" onchange="this.form.submit();">
        <option value="">Any</option>
        <% Day.to_select.each do |day| %>
          
          <option value="<%= day[1] %>" 
            <% if params[:day].to_s == day[1].to_s %>
              selected
            <% end %>  
            ><%= day[0] %></option>
        <% end %>
      </select>  
    </div>

    <div class="type">  
      Type
      <select id="type" name="type" onchange="this.form.submit();">
        <option value="">Any</option>
        <% ShowType.to_select.each do |show_type| %>
          <option value="<%= show_type[1] %>"
            <% if params[:type].to_s == show_type[1].to_s %>
              selected
            <% end %>
            ><%= show_type[0] %></option>
        <% end %>
      </select>   
    </div>

    <!-- <div class="status">  
      
      <% if params[:not_active] == '0' %>
       <input type="checkbox" id="not_active" name"not_active" value="1" onchange="this.form.submit();" checked>
      <% else %>
       <input type="checkbox" id="not_active" name"not_active" value="0" onchange="this.form.submit();">
      <% end %>
      include <span style="font-size: 12px">ON HIATUS, and CANCELLED</span>
        
    </div> -->

  <% end %>

  </form>
</div>
<br>

