<%= render 'shared/notice' %>

<div class="alert alert-info"><i class="icon-info-sign"></i>
Stale Mikes is for comedians seeking stagetime. Anyone can list or update a show!</div>
<br>
<%= render 'pages/filter' %>

<% case params[:view] %>
<% when "grid" %>
  <div id="show-box"><%= render 'shared/shows' %></div>
<% when "calendar" %>
  <%= render 'shared/calendar' %>
<% when "map" %>
  <%= render 'shared/map' %>
<% else %>
  <%= render 'shared/show_list' %>
<% end %>
