

<%= render 'shared/notice' %>

<div class="alert alert-info"><i class="icon-info-sign"></i>
This site is for comedians seeking stagetime.  Anyone can help keep it up to date!</div>
<br>

<%= render 'pages/filter' %>

<% case params[:view] %>
<% when "grid" %>
  <div id="show-box"><%= render 'shared/shows' %></div>
<% when "calendar" %>
  <%= render 'shared/calendar' %>
<% when "map" %>
  <%= render 'shared/map' %>
<% else %>
  <%= render 'shared/show_list' %>
<% end %>

