<div class="filter">

  <div class="metro-area"> 
    Metro Area
    <ul class="filter">
      <li><%= link_to 'Any', request.parameters.merge({:metro => ''}) %></li> 
      <% @metro_areas.each do |metro_area| %>
        <li><%= link_to metro_area.name, request.parameters.merge({:metro => metro_area.id}) %></li> 
      <% end %>
    </ul>
  </div>

  <div class="day"> 
    Day 
    <ul class="filter">  
      <li><%= link_to 'Any', request.parameters.merge({:day => ''}) %></li>
      <% Day.to_select.each do |day| %>
    
        <li><% if params[:day].to_s == day[1].to_s; selected = 'selected-filter'; else; selected = 'unselected'; end %>
        <%= link_to day[0], request.parameters.merge({:day => day[1]}), :class => selected %>
      </li>
        
      <% end %>
    </ul>
  </div>

  <div class="type">  
    Type
    <ul class="filter">
      <li><%= link_to 'Any', request.parameters.merge({:type => ''}) %></li>
      <% ShowType.to_select.each do |show_type| %>
        <li><%= link_to show_type[0], request.parameters.merge({:type => show_type[1]}) %></li>
      <% end %>
    </ul>  
  </div>

</div>