<script>

$(document).ready(function(){

  $('#signup_time').css({'display':'none'});

  if($(":input#show_show_type").val() == 1 ) {

    $("#signup_time").css({"display":"inline"});
  };

  $(":input#show_show_type").change(function() {
    if($(this).val() == 1 ) {
      $("#signup_time").css({"display":"inline"}) }
    else {
      $("#signup_time").css({"display":"none"});
    }
  });

  $('#end_time').css({'display':'none'});

  if($(":input#include_end_time").is(":checked")) {

    $("#end_time").css({"display":"inline"});
  };

  $(":input#include_end_time").change(function() {
    if($(this).is(":checked")) {
      $("#end_time").css({"display":"inline"}) }
    else {
      $("#end_time").css({"display":"none"});
    }
  });

});

</script>

<% if flash[:notice] %>
    <div class="notice"><%= flash[:notice] %></div>
  <% end %>

<%= simple_form_for @show do |f| %>

    <%= f.input :metro_area_id, :as => :select, :collection => MetroArea.all, :include_blank => '--Select--', :required => true %>

    <% if !@show.status %>
    <% else %>
      <%= f.input :status, :as => :select, :label => 'Status', :collection => Status.to_select, :selected => @show.status(:id), :include_blank => '--Select--', :required => true %>
    <% end %>

    <%= f.input 'start_time', :label => 'Start Time', :as => :time, :ampm => true, :minute_step => 15, :default => Time.new(2000,1,1,20,0,0), :required => true %>
  <div class="include-end-time">
   <input id="include_end_time" type='checkbox' name='include_end_time'
   <% if @show.end_time %> checked<% end %>>Include end time
    <div id="end_time"> 
    <%= f.input 'end_time', :label => 'End Time', :as => :time, :ampm => true, :minute_step => 15 %>
    </div>
  </div>

    <%= f.input 'name', :label => 'Show Name', :required => true %>
    <%= f.input 'venue', :label => 'Venue', :required => true %>

    <%= f.input 'frequency', :label => 'Frequency', :collection => Frequency.to_select, :selected => @show.frequency(:id), :include_blank => '--Select--', :required => true %>
    <%= f.input 'day', :label => false, :collection => Day.to_select, :selected => @show.day(:id), :include_blank => '--Select--', :required => true %>
   <div style="clear: both"></div>
    <%= f.input 'show_type', :label => 'Show Type', :collection => ShowType.to_select, :selected => @show.show_type(:id), :include_blank => '--Select--', :required => true %>
    <div id="signup_time"> &nbsp;&nbsp;Signup Time
    <%= f.input 'signup_time', :label => false, :as => :time, :ampm => true, :minute_step => 15, prompt: {hour: '--', minute: '--'} %>
    </div>
    <%= f.input 'address', :label => 'Adress', :required => true %>
    <%= f.input 'area', :label => 'Area (e.g. East Bay)' %>
    <%= f.input 'city', :label => 'City', :required => true %>
    <%= f.input 'state', :label => 'State', :collection => State.to_select, :selected => @show.state(:id), :include_blank => '--Select--', :required => true %>
    <%= f.input 'zip', :label => 'Zip', :as => :string, :required => true %>
    <%= f.input 'country', :label => 'Country', :include_blank => '--Select--', :required => true %>
    <%= f.input 'web_site', :label => 'Show Web Site' %>
    <%= f.input 'facebook_link', :label => 'Facebook Link' %>
    <%= f.input 'twitter_name', :label => 'Twitter Handle' %>
    <%= f.input 'phone', :label => 'Venue Phone' %>
    
    
    <%= f.input 'host_name', :label => 'Host Name' %>
    <%= f.input 'price', :label => 'Price to perform' %>
    <%= f.input 'charge', :label => 'Audience cover charge' %>
   
    <div class="filepicker-image-input">
        Show Photo
    <%= f.filepicker_field 'filepicker_url', :label => 'Show Image', :button_text => 'upload file', :extensions => '.png,.jpg,.gif', :multiple => false, :dragdrop => true %> </div>
    <%= f.input 'notes', :label => 'Booking instructions' %> 
     <div class="form-button">
    <%= f.button :submit %>
    </div>
<% end %>
